.form {
  border: none;
  background: #fff;
  background-color: #eee;
  background-image: linear-gradient(to bottom, #009add, #001b94);
  border-radius: 5px;
  box-shadow: 0 0 15px #001b94;
  margin-top: 20px;

}

.name {
  margin-left: 10%;
  margin-top: 10%;
  font-size: 20px;
  color: #fff;
}

.name-input{
  margin-left: 10%;
  margin-top: 15%;

  border: none;
  outline: none;
  border-radius: 3px;
  background: #fff;
  padding: 20px;
  width: 80%;
}

.password{
  margin-top: 30%;
  margin-left: 10%;
  font-size: 20px;
  color: #fff;
}

.pass-input{
  margin-top: 35%;
  margin-left: 10%;

  border: none;
  outline: none;
  border-radius: 3px;
  background: #fff;
  padding: 20px;
  width: 80%;
}

.check {
margin-top: 50%;
margin-left: 10%;
height: 15px;
width: 15px;
}

.remember {
  margin-top: 50%;
  margin-left: 15%;
  color: #fff;
  font-size: 15px;
}

.button {
  margin-top: 65%;
  margin-left: 35%;
  width: 30%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: none;
  background-color: #0184ff;
  color: #fff;
  cursor: pointer;


}

.button:hover{
  transition: 0.4s ease-in-out;
  background: #fff;
  color: #000;
  box-shadow: 0 0 5px #fff;
}

.alert {
  margin-top: 82%;
  font-size: 20px;
  color: red;
}