#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}


#radio1:checked ~ .autoslide .auto-btn1{
  margin-left: 0;
}
#radio2:checked ~ .autoslide .auto-btn2{
  margin-left: -20%;
}
#radio3:checked ~ .autoslide .auto-btn3{
  margin-left: -40%;
}

